body {
    margin: 0;
    background-color: #fdfdfd;
}

#logo {
    margin: 0 auto -4px auto;
    width: 200px;
    display: block;
}

#introduction {
    text-align: center;
    background-color: #9edadb;
    padding: 32px 0 62px 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #d10056;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 2px solid #d10056;
}

#slogan {
    font-size: 1.05rem;
}

.entry_button {
    display: inline-block;
    margin: 30px 7px -10px 7px;
    font-size: 0.94rem;
}

.entry_button a {
    padding: 4.2px 16px 5.2px 16px;
    color: #d10056;
    text-decoration: none;
    cursor: pointer;
}

.entry_button a:hover {
    color: #ff056c;
    box-shadow: 0px 0px 0px 2px rgba(255,5,108,1);
    border-radius: 1px;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

#signup_button a, .internal_form #submit {
    background-color: #d10056;
    color: #fdfdfd;
    font-size: 0.94rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 6px 0 7px 0;
    width: 80px;
    display: block;
    margin: 11px auto 0 auto;
    cursor: pointer;
    border-radius: 2px;
}

#signup_button a:hover, .internal_form #submit:hover, .d_button:hover {
    background-color: #ff056c;
    box-shadow: 0px 0px 0px 1px rgba(255,5,108,1);
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.mini_title { 
    font-family: 'Rokkitt', serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: #313131;
    padding: 0 0 12px 0;
    margin: 0 auto -9px auto;
}

.subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.94rem;
    font-weight: 400;
    color: #414141;
    margin-bottom: 30px;    
}

.subtitle .octicon-primitive-dot, .dash_subtitle .octicon-primitive-dot {
    margin: 0 4px;
    font-size: 0.8rem;
}

#schools {
    margin: 40px auto 0 auto;
}

.school_card {
    width: 276px;
    display: inline;
    float: left;
    margin: 11.7px;
    height: 274px;
    overflow: hidden;
    border-radius: 2px;
    background-color: black;
}
 
.school_pic {
    position: relative;
    z-index: 1;
    height: 300px;
    top: -28px;    
    transition: all 0.15s linear;
}

.school_name {
    font-family: 'Rokkitt', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 45%;    
    color: white;
}

#lost_card {
    background-color: #bebebe;
    margin-bottom: 60px;
}

#lost {
    top: 35%;
}

#lost_description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    line-height: 2.7ex;
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 110px;
}

#lost_img {
    z-index: 0;
    margin-top: -157px;
    position: relative;
}

a.darken img {
    opacity: 0.6;
}

a.darken:hover img {
    opacity: 0.4;
}

#how_it_works {
    margin: 50px auto;
}

.middle {
    width: 900px;
    margin: 0 auto;  
}

#steps {
    margin: -10px auto 0 auto;
    height: 380px;
}

.step {
    width: 290px;
    float: left;
    margin: 0 5px;
}

.step_description {
    width: 255px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    line-height: 150%;
    text-align: center;
    color: #313131;
}

.step_img {
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    display: block;
}

#step1 .step_description {
    margin-top: 7px;
}

#step1 img {
    width: 190px;
}

#step2 .step_description {
    margin-top: 25px;
}

#step2 img {
    width: 240px;
    margin-top: 40px;
}

#step3 .step_description {
    margin-top: 15px;
}

#step3 img {
    width: 260px;
    margin-top: 40px;
}

#theend {
    float: left;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    font-family: 'Lato', sans-serif;
}

.external_form {
    width: 100%;
    height: 100%;
    background-color: #9edadb;
}

.internal_form {
    width: 220px;
    top: 50%;
    right: 50%;
    height: 300px;
    margin: -200px -110px 0 0;
    position: absolute;
}

.internal_form #logo {
    margin-bottom: 15px;
}

.internal_form label {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-left: 2px;
    color: #2c7476;
}

.internal_form input {
    width: 100%;
    height: 30px;
    border: none;
    margin: 3px 0 17px 0;
    padding: 5px 7px 5px 7px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    border-radius: 1px;
    background-color: #fdfdfd;
    color: #170341;
}

.internal_form input[type='text']:focus, .internal_form input[type='password']:focus {
    outline: 3px solid #ffc71e;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.internal_form input[type='submit'] {
    color: #fdfdfd;
    height: 30px;
    padding: 5px 0 7px 0;
    width: 100px;
    margin: 15px auto 0 auto;
    -webkit-appearance: none;
}

.error {
    color: #d10056;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.94rem;
    margin: -15px 0 25px 3px;
}

#navbar {
    background-color: #9edadb;
    height: 41px;
    border-bottom: 1px solid #66c5c6;
}

#navbar_cramped {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#navbar #logo {
    width: 120px;
    display: block;
}

#logo_link {
    display: block;
    width: 125px;
    position: absolute;
    top: -3px;
    margin: 0 0 0 -11px;
}

#navbar .entry_button {
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#entry_buttons {
    width: 176px;
    margin: 0 0 0 624px;
    position: absolute;
    top: -6px;
}

#student, #search {
    width: 800px;
    margin: 45px auto 100px auto;
    position: relative;
}

#dash {
    width: 800px;
    padding: 0 0 40px 0;
    margin: 45px auto 0 auto;
    position: relative;
}

#explore {
    width: 800px;
    margin: -7px auto 100px auto;
}

input[value="Search"] {
    display: none;
}

#query {
    width: 275px;
    height: 27px;
    margin: 7px 0 0 125px;
    border: none;
    border: 1px solid #82d0d1;
    padding: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.88rem;
    background-color: #fdfdfd;
    color: #313131;
    border-radius: 2px;
}

#query:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #66c5c6;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.response {
    display: inline-block;
    vertical-align: top;
}

.octicon-check {
    margin: 0 3px 0 5px;
    cursor: pointer;
    color: #646464;
}

.octicon-check:hover {
    color: #2db700;
}

.octicon-x {
    margin: 0 10px 0 7px;
    cursor: pointer;
    color: #646464;
}

.octicon-x:hover {
    color: #d10033;
}

.octicon-chevron-right {
    margin: 0 10px 0 8px;
    color: #646464;
}

#dash_requests {
    width: 420px;
    margin: -30px 0 0 0;
    padding: 0 50px 0 0;
}

#dash_active {
    width: 326px;
    margin: -30px 0 0 0;
    padding: 0 0 0 0;
}

#dash_requests .dash_li {
    width: 373px;
}

#dash_active .dash_li {
    width: 279px;
}

.dash_section {
    margin: 0 auto 25px auto;
    color: #313131;
    display: inline-block;
    vertical-align: top;
}

.dash_title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.94rem;
    margin: 30px 0 10px 0;
    color: #313131;
}

.dash_li {
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
    padding: 0 0 12px 0;
    display: inline-block;
    vertical-align: top;
}

.dash_li a, .p_name a, .s_name a {
    color: #d10056;
    text-decoration: none;
}

.dash_li a:hover, .p_name a:hover, .s_name a:hover {
    text-decoration: underline;
}

#dash_stats {
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
    padding: 7px 10px 7px 12px;
}

.dash_stat {
    padding: 2px 0;
}

#dash {
    border-bottom: 2px solid #9edadb;
}

#breaker {
    height: 18px;
}

#explore .dash_title {
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 15px 7px;
    display: inline-block;
}

#explore .dash_subtitle {
    font-size: 0.88rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin: 0 0 0 20px;
}

#inside {
    font-family: 'Verdana', sans-serif;
    font-size: 0.83rem;
    font-weight: 700;
    right: 5px;
    text-align: right;
    top: 11px;
    position: absolute;
}

#inside .octicon-sign-out {
    font-size: 1rem;
}

#inside .octicon-plus {
    font-size: 1.2rem;
}

#inside a {
    text-decoration: none;
    color: #d10056;
    margin: 0 7px;
}

#inside a:hover {
    color: #ff056c;
}

#school_hero {
    margin: 0 auto -30px auto;
}

#school_hero .mini_title {
    padding: 50px 0 12px 0;
}

#school_hero .subtitle {
    padding: 0 0 55px 0; 
}

.public_project, #project, #student {
    width: 800px;
    margin: 20px auto;
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    color: #313131;
    border: 1px solid #e2e2e2;
    position: relative;
}

#project, #student {
    margin: 30px auto 100px auto;
}

#search #project, #search #student {
    margin: 20px auto 0 auto;
}

.p_description, .s_description {
    font-size: 0.78rem;
    font-weight: 400;
    padding: 7px 20px 21px 20px;
    font-family: 'Verdana', sans-serif;
    line-height: 150%;
    white-space: pre-wrap;
}

.p_description {
    padding: 0px 20px 21px 20px;
}

.p_name, .s_name {
    font-size: 1.05rem;
    font-weight: 700;
    padding: 16px 20px 5px 20px;
    display: inline-block;
}

.p_time, .s_time {
    padding: 2px 0 12px 20px;
    color: #919191;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.s_website, .p_website {
    font-size: 0.78rem;
    font-weight: 400;
    padding: 0 20px 12px 20px;
    font-family: 'Verdana', sans-serif;
}

.s_website a, .p_website a {
    color: #d10056;
    text-decoration: none;
}

.s_website a:hover, .p_website a:hover {
    text-decoration: underline;
}

.p_completed, .p_editor {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 900;
    padding: 3px 5px;
    border-radius: 2px;
    color: #f7f7f7;
    letter-spacing: 0.5px;
    margin: 0 0 0 -10px;
    display: inline-block;
    position: relative;
    top: -1px;
}

.p_completed {
    background-color: #2db700;
}

.p_editor {
    border: 2px solid #d10056;
    color: #d10056;
    cursor: pointer;
    font-weight: 900;
    top: -3px;
    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
         -o-transition: all 0.1s;
            transition: all 0.1s;
}

.p_editor:hover, #pjt:hover, #sdt:hover {
    background-color: #d10056;
    color: #f7f7f7;
}

.p_done {
    margin: 0 0 0 7px;
    color: #2db700;
    border: 2px solid #2db700;
}

.p_done:hover {
    background-color: #2db700;
    color: #f7f7f7;
}

.p_students {
    width: 250px;
    margin: -20px 20px 15px 20px;
    display: inline-block;
    vertical-align: top;
}

.p_students .dash_li {
    width: 203px;
}

.p_students .octicon-chevron-right {
    margin: 0 10px 0 8px
}

#projects {
    margin: 0 0 155px 0;
}

#search {
    color: #313131;
}

.search_type {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.94rem;
    margin: 70px 0 -7px 10px;
    display: inline-block;
}

.query_terms {
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 -20px 0;
}

.settings_new_edit {
    width: 800px;
    margin: 30px auto 100px auto;
}

.edit_form {
    width: 600px;
    background-color: #f7f7f7;
    margin: 35px auto 0 auto;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    color: #313131;
}

.edit_form_title {
    margin: 7px auto 12px 160px;
    padding: 10px 0 0 0;
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-size: 0.94rem;
    font-weight: 700;
}

.edit_form label {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.65rem;
    text-transform: uppercase;
    color: #313131;
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 14px 5px 0 0;
}

label[for='description'] {
    margin: 13px 5px 0 0;
}

.edit_form input, .edit_form textarea {
    width: 400px;
    display: inline-block;
    border: none;
    height: 28px;
    margin: 5px auto 5px auto;
    padding: 5px 7px 5px 7px;
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
    border-radius: 2px;
    background-color: #fdfdfd;
    color: #313131;
    vertical-align: top;
    border: 1px solid #e2e2e2;
    -webkit-appearance: none;
}

.edit_form #submit, .edit_form #update, .edit_form #create {
    margin: 15px 0 7px 159px;
    border: 1px solid #d10056;
    border-radius: 2px;
    color: #d10056;
    cursor: pointer;
    width: 400px;
    padding: 4px 0 6px 0;
    background-color: #f7f7f7;
    -webkit-appearance: none;

}

.edit_form #submit:hover, .edit_form #update:hover, .edit_form #create:hover {
    color: #fdfdfd;
    background-color: #d10056;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.edit_form textarea {
    height: 150px;
    resize: vertical;
    border-radius: 2px;
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
    margin: 4px 0 5px 0;
}

.edit_form input[type='text']:focus, textarea:focus, .edit_form input[type='password']:focus {
    outline: none;
    border: 1px solid #d10056;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.edit_form .error {
    margin: -2px 0 20px 162px;
}

.flash {
    margin: 30px auto;
    text-align: center;
    color: #d10056;
    font-family: 'Lato', sans-serif;
    font-size: 0.94rem;
}

#forgot_link {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    margin: 40px 0 0 0;
}

#forgot_link a {
    color: #2c7476;
    width: 220px;
    text-decoration: none;
}

#forgot_link a:hover {
    text-decoration: underline;
}

.directions {
    color: #d10056;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    display: block;
    margin: 0 auto 20px -11px;
    line-height: 150%;
}

.d_email {
    width: 440px;
    margin: 40% 0 0 -110px;
}

.d_button {
    background-color: #d10056;
    font-family: 'Lato', sans-serif;
    height: 30px;
    width: 150px !important;
    margin: 30px auto 0 auto;
    color: #fdfdfd;
    font-size: 0.94rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    border: none;
    padding: 5px 7px 6px 7px;
}

.internal_form a {
    text-decoration: none;
}

.external_form .flash {
    margin: 15px auto 30px auto;
}

.unconf {
    margin: 0 0 0 0 !important;
    padding: 30px 0 50% 0;
}

.ind {
    margin: 20px 0 30px 0 !important;
}

#delete_project {
    width: 550px;
    margin: 30px auto 0 auto;
    display: block;
    text-align: center;
    padding: 4px 0 6px 0;
    border: 1px solid #d10056;
    vertical-align: middle;
    border-radius: 2px;
}

#delete_link {
    text-decoration: none;
    color: #d10056;
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
}

#delete_project:hover {
    color: #fdfdfd;
    background-color: #d10056;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.e_project {
    margin: 15px auto !important;
}

.s_email {
    display: inline-block;
}

.pagination {
    width: 500px;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #e2e2e2;
    font-family: 'Verdana', sans-serif;
    font-size: 0.78rem;
    cursor: default;
}

.pagination .octicon-primitive-dot {
    color: #313131;
    font-size: 0.94rem;
}

.pagination a {
    color: #d10056;
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    text-decoration: underline;
}

.flash a {
    color: #d10056;
    text-decoration: none;
    border-bottom: 2px solid #d10056;
}

.flash a:hover {
    color: #66c5c6;
    border-bottom: 2px solid #66c5c6;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.mf {
    margin: 7px auto;
}

.fourohfour img {
    width: 100%;
}

.fourohfour {
    width: 400px;
    margin: 0 auto;
}

#search .fourohfour {
    width: 300px;
}

.fouroherror {
    margin: 75px 0 -25px 0;
}

.read_more + [data-readmore-toggle], .read_more[data-readmore] {
    width: auto !important;
}

.read_more + [data-readmore-toggle] {
    font-family: 'Verdana', sans-serif;
    color: #d10056;
    font-size: 0.78rem;
    width: 75px !important;
    padding: 7px 0 20px 20px;
}

#pjt, #sdt {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: #d10056;
    cursor: pointer;
    border: 2px solid #d10056;
    color: #d10056;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    padding: 3px 5px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    margin: 0 0 0 10px;
    position: relative;
    top: -2px;
}

.p_link {
    font-weight: 400;
}

input[type='checkbox'] {
    margin: 4px 0 0 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    outline-width: 0;
    background: no-repeat center white;
    border-radius: 1px;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background: url('checked.png') no-repeat center white;
}

.remember_me_label {
    margin: -17px 0 35px 25px;
}

@media only screen and (max-device-width: 480px) {
    #steps {
        width: 300px;
    }

    .middle {
        width: 299.2px;
    }

    #steps {
        height: 950px;
    }

    .subtitle {
        width: 80%;
        margin: 0 auto 30px auto;
    }

    .public_project, #project, .pagination, .settings_new_edit, #student {
        width: 90%;
    }

    #logo_link {
        margin: 0 0 0 -3px;
    }

    #entry_buttons {
        right: 0;
        margin: 0;
    }

    #navbar_cramped {
        width: 100%;
    }

    #explore {
        width: 100%;
    }

    #explore .dash_title {
        margin: 20px 0 3px 21px;
    }

    #explore .dash_subtitle {
        margin: 0 0 10px 22px
    }

    #dash {
        width: 95%;
        margin: 60px auto 0 auto;
    }

    .flash {
        line-height: 160%;
        width: 70%;
    }

    #dash_active {
        margin: 0;
        padding: 0 0 0 10px;
    }

    #dash_requests .dash_li {
        width: 333px;
    }

    #dash_requests {
        width: 380px;
        padding: 0 0 0 10px;
    }

    #query {
        width: 95%;
        margin: 50px auto 0 2.5%;
        border-bottom: 2px solid #82d0d1;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    #query:focus {
        box-shadow: none;
    }

    #inside {
        right: 12px;
    }

    .edit_form_title {
        padding: 10px 0 10px 0;
        margin: 7px auto 12px auto;
        text-align: center;
    }

    .edit_form label {
        margin: 0 5px 0 17px;
        text-align: left;
    }

    .edit_form input, .edit_form textarea {
        margin: 5px auto 5px auto;
        width: 92%;
        display: block;
    }

    .settings_new_edit {
        width: 85%;
    }

    .edit_form, #search {
        width: 100%;
    }

    .edit_form #submit, .edit_form #update, .edit_form #create {
        margin: 0 auto 7px auto;
        width: 92%;
    }

    .mobile_email {
        display: block;
        margin: 7px 0 0 0;
    }

    .search_type {
        margin: 70px 0 0px 20px;
    }

    .query_terms {
        margin: 75px 0 -20px 0;
    }

    .mobile {
        display: none;
    }
}
