body {
    margin: 0;
    background-color: #fdfdfd;
}

#logo {
    margin: 0 auto -4px auto;
    width: 200px;
    display: block;
}

#introduction {
    text-align: center;
    background-color: #9edadb;
    padding: 32px 0 62px 0;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #d10056;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 2px solid #d10056;
}

#slogan {
    font-size: 1.05rem;
}

.exit_button a {
    margin: -115px 15px 0 0;
    float: right;
}

.entry_button {
    display: inline-block;
    margin: 30px 5px -10px 5px;
}

.entry_button a, .exit_button a {
    padding: 3px 16px 5px 16px;
    color: #d10056;
    text-decoration: none;
    font-size: 0.94rem;
    cursor: pointer;
}

.entry_button a:hover, .exit_button a:hover {
    color: #ff056c;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

#signup_button a {
    background-color: #d10056;
    color: #fdfdfd;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 6px 0 7px 0;
    width: 80px;
    display: block;
    margin: 11px auto 0 auto;
    cursor: pointer;
    border-radius: 2px;
}

#signup_button a:hover {
    background-color: #ff056c;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.mini_title { 
    font-family: 'Rokkitt', serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: #313131;
    padding: 0 0 12px 0;
    margin: 0 auto -9px auto;
}

.subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.94rem;
    font-weight: 400;
    color: #414141;
    margin-bottom: 30px;    
}

#schools {
    width: 900px;
    margin: 40px auto 0 auto;
}

.school_card {
    width: 30.7%;
    display: inline;
    float: left;
    margin: 1.3%;
    height: 300px;
    overflow: hidden;
    border-radius: 2px;
    background-color: black;
}
 
.school_pic {
    position: relative;
    z-index: 1;
    height: 300px;
    top: -28px;    
    transition: all 0.15s linear;
}

.school_name {
    font-family: 'Rokkitt', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 45%;    
    color: white;
}

#lost_card {
    background-color: #bebebe;
}

#lost {
    top: 35%;
}

#lost_description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    line-height: 150%;
    color: white;
    z-index: 2;
    position: relative;
    margin-top: 110px;
}

#lost_img {
    z-index: 0;
    margin-top: -159px;
    position: relative;
}

a.darken img {
    opacity: 0.6;
}

a.darken:hover img {
    opacity: 0.4;
}

#how_it_works {
    margin: 50px auto;
}

#steps {
    margin: -10px auto 0 auto;
    width: 900;
    height: 380px;
}

.step {
    width: 290px;
    float: left;
    margin: 0 5px;
}

.step_description {
    width: 255px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 0.88rem;
    line-height: 150%;
    text-align: center;
    color: #313131;
}

.step_img {
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    display: block;
}

#step1 .step_description {
    margin-top: 7px;
}

#step1 img {
    width: 190px;
}

#step2 .step_description {
    margin-top: 25px;
}

#step2 img {
    width: 240px;
    margin-top: 40px;
}

#step3 .step_description {
    margin-top: 15px;
}

#step3 img {
    width: 260px;
    margin-top: 40px;
}

#theend {
    float: left;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    font-family: 'Lato', sans-serif;
}

#theend a {
    text-decoration: none;
    border-bottom: 2px solid #d10056;
    color: #d10056;
}

#theend a:hover {
    color: #ff056c;
    border-bottom: 2px solid #ff056c;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.external_form {
    width: 100%;
    height: 100%;
    background-color: #9edadb;
}

.internal_form {
    width: 220px;
    top: 50%;
    right: 50%;
    height: 300px;
    margin: -200px -110px 0 0;
    position: absolute;
}

.internal_form #logo {
    margin-bottom: 15px;
}

.internal_form label {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-left: 2px;
    color: #2c7476;
}

.internal_form input {
    width: 100%;
    height: 30px;
    border: none;
    margin: 3px 0 17px 0;
    padding: 7px 7px 9px 7px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    border-radius: 1px;
    background-color: #fdfdfd;
    color: #170341;
}

.internal_form input[type='text']:focus, .internal_form input[type='password']:focus {
    outline: 3px solid #ffc71e;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.internal_form #submit {
    background-color: #d10056;
    color: white;
    height: 30px;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 6px 0 10px 0;
    width: 100px;
    display: block;
    margin: 15px auto 0 auto;
    cursor: pointer;
    border-radius: 2px;
}

.internal_form #submit:hover {
    background-color: #ff056c;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.error {
    color: #d10056;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.94rem;
    margin: -15px 0 25px 3px;
}
