<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='octicons.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,700,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="{{ url_for('static', filename='readmore.min.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            $('.read_more').readmore({
                collapsedHeight: 35,
                heightMargin: 25,
                lessLink: '<a href="#">Hide</a>'
            });
        });
    </script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
