{% extends "authenticated.html" %}
{% block title %}DevAffair{% endblock %}
{% block batwing %}
    {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <div class="mf">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if incoming_requests or outgoing_requests or active_projects %}
        <div id="dash">
            {% if incoming_requests or outgoing_requests %}
                <div class="dash_section" id="dash_requests">
                    {% if incoming_requests %}
                        <div class="dash_title">Requests on your projects</div>
                        {% for ps_tuple in incoming_requests %}
                            <div class="response"><a href="{{ url_for('rj_request', student_username=ps_tuple[1].username, project_hashid=ps_tuple[0].hashid, type='j_append') }}"><span class="octicon octicon-check"></span></a><a href="{{ url_for('rj_request', student_username=ps_tuple[1].username, project_hashid=ps_tuple[0].hashid, type='r_remove') }}"><span class="octicon octicon-x"></span></a></div><div class="dash_li"><a href="{{ url_for('school_student', shortname_username=ps_tuple[1].username) }}">{{ ps_tuple[1].name }}</a> requested to join <a href="{{ url_for('project', student_username=current_user.username, project_hashid=ps_tuple[0].hashid) }}">{{ ps_tuple[0].name }}</a></div>
                        {% endfor %}
                    {% endif %}
                    
                    {% if outgoing_requests %}
                        <div class="dash_title">Projects you've requested to join</div>
                        {% for project in outgoing_requests %}
                            <div class="response"><a href="{{ url_for('rj_request', student_username=current_user.username, project_hashid=project.hashid, type='r_remove') }}"><span class="octicon octicon-x"></span></a></div><div class="dash_li"><a href="{{ url_for('project', student_username=project.student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            {% if active_projects %}
                <div class="dash_section" id="dash_active">
                    <div class="dash_title">Active projects</div>
                    {% for project in active_projects %}
                        <div class="response"><span class="octicon octicon-chevron-right"></span></div><div class="dash_li"><a href="{{ url_for('project', student_username=project.student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div id="breaker"></div>
    {% endif %}

    <div id="explore">
        <div class="dash_title">Explore {{ current_user.school.name }}</div>
        <div class="dash_subtitle">{{ current_user.school.students.count() }} students <span class="octicon octicon-primitive-dot"></span> {{ current_user.school.projects.count() }} projects</div>
        {% if explore_projects.items %}
            {% for project in explore_projects.items %}
                <div id="project" class="e_project">
                    <div class="p_name"><a href="{{ url_for('project', student_username=project.student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                    <div class="p_time">Created {{ project.time_posted.strftime('%B %-d, %Y at %-I:%M %p') }}</div>
                    {% if project.website %}<div class="p_website"><a href="{{ project.website }}">{{ project.website }}</a></div>{% endif %}
                    <div class="p_description read_more">{{ project.description }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="pagination">
        {% if explore_projects.has_prev %}<a href="{{ url_for('explore', page=explore_projects.prev_num) }}">newer projects</a>{% else %}newer projects{% endif %}&nbsp;&nbsp;&nbsp;<span class="octicon octicon-primitive-dot"></span>&nbsp;&nbsp;&nbsp;{% if explore_projects.has_next %}<a href="{{ url_for('explore', page=explore_projects.next_num) }}">older projects</a>{% else %}older projects{% endif %}
        </div>
    </div>
{% endblock %}