{% extends "authenticated.html" %}
{% block title %}Edit {{ project.name }}{% endblock %}
{% block batwing %}
    {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <a id="delete_link" href="{{ url_for('delete', student_username=project.student.username, project_hashid=project.hashid) }}"><div id="delete_project">Delete project</div></a>
    <div class="edit_form">
        <div class="edit_form_title">Edit project</div>
        <form method="POST">
            {{ project_form.csrf_token }}

            {{ project_form.name.label }}
            {{ project_form.name(placeholder="Batmobile") }}<br>
            {% if project_form.name.errors %}
                {% for error in project_form.name.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {{ project_form.website.label }}
            {{ project_form.website(placeholder="http://zombo.com/") }}<br>
            {% if project_form.website.errors %}
                {% for error in project_form.website.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {{ project_form.description.label }}
            {{ project_form.description() }}<br>
            {% if project_form.description.errors %}
                {% for error in project_form.description.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {{ project_form.submit(value="Update") }}
        </form>
    </div>
{% endblock %}
