{% extends "base.html" %}
{% block title %}DevAffair{% endblock %}
{% block body %}
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function(){
            $("#signup").hover(function(){
                $("#introduction").stop().animate({backgroundColor:'#e23351'},200);
                },function(){
                $("#introduction").stop().animate({backgroundColor:'#170341'},200);
            });
        });
    </script>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
    <div id="introduction">
        <div id="slogan">Connecting student groups with student developers</div>
        <div class="entry_button" id="signup"><a href="{{ url_for('signup') }}">Sign up</a></div>
        <div class="entry_button"><a href="{{ url_for('login') }}">Log in</a></div>
    </div>
{% endblock %}
