{% extends "base.html" %}
{% block title %}DevAffair{% endblock %}
{% block body %} 
    <div id="introduction">
        {% if get_flashed_messages() %}
            <div class="flash ind">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
        <div id="slogan">Connecting student groups with student developers</div>
        <div class="entry_button" id="signup_button"><a href="{{ url_for('signup') }}">Sign up</a></div>
        <div class="entry_button" id="login_button"><a href="{{ url_for('login') }}">Log in</a></div>
    </div>

    <div id="how_it_works">
        <div class="mini_title">How it works</div>
        <div class="subtitle">Alice and Bob find each other on DevAffair.</div>
        <div id="steps">    
            <div id="step1" class="step">
                <img class="step_img" src="{{ url_for('static', filename='step1.png') }}">
                <div class="step_description">Alice needs a website for a student group she founded. She posts her project to DevAffair.</div>
            </div>
            <div id="step2" class="step">
                <img class="step_img" src="{{ url_for('static', filename='step2.png') }}">
                <div class="step_description">Bob is a developer at the same school who wants to gain experience. He finds Alice's website project on DevAffair.</div>
            </div>
            <div id="step3" class="step">
                <img class="step_img" src="{{ url_for('static', filename='step3.png') }}">
                <div class="step_description">Having found each other on DevAffair, Bob and Alice work together to produce the website she dreamed of.</div>
        </div>
        </div>
    </div>

    <div id="schools">
        <div class="mini_title">Find your school</div>
        <div class="subtitle">Collaborate with other students on projects you care about.</div>
        {% for school in schools %}
            <a class="darken" href="{{ url_for('school_student', shortname_username=school.shortname) }}">
            <div class="school_card">            
                <div class="school_name">{{ school.name }}</div>
                <img class="school_pic" src="{{ url_for('static', filename=school.shortname+'.png') }}"> 
            </div>
            </a>
        {% endfor %}
        <div class="school_card" id="lost_card">            
            <div class="school_name" id="lost">Can't find your <br> school?</div>
            <div id="lost_description">Don't worry! School is for losers.</div>
            <img class="school_pic" id="lost_img" src="{{ url_for('static', filename='question.png') }}"> 
        </div>
    </div>
    <div id="theend">
        <div class="entry_button"><a href="http://nikrdc.com/">about</a></div>
    </div>
{% endblock %}
