{% extends "authenticated.html" %}
{% block title %}Search{% endblock %}
{% block batwing %}
    {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <div class="mf">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div id="search">
        {% if project_results or student_results %}
            <div class="query_terms">Results for query '{{ query }}'</div>
            {% if project_results %}
                <div class="search_type">{{ project_results|count }} project{% if project_results|count != 1 %}s{% endif %} found</div>
                {% for project in project_results %}
                    <div id="project">
                        <div class="p_name"><a href="{{ url_for('project', student_username=project.student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                        <div class="p_time">Created {{ project.time_posted.strftime('%B %-d, %Y at %-I:%M %p') }}</div>
                        {% if project.website %}<div class="p_website"><a href="{{ project.website }}">{{ project.website }}</a></div>{% endif %}
                        <div class="p_description read_more">{{ project.description }}</div>
                    </div>
                {% endfor %}
            {% endif %}
            
            {% if student_results %}
                <div class="search_type">{{ student_results|count }} student{% if student_results|count != 1 %}s{% endif %} found</div>
                {% for student in student_results %}
                    <div id="student">
                        <div class="s_name"><a href="{{ url_for('school_student', shortname_username=student.username) }}">{{ student.name }}</a></div>
                        <div class="s_time">Joined {{ student.time_joined.strftime('%B %-d, %Y at %-I:%M %p') }}</div>
                        <div class="s_website">{% if student.website %}<span class="octicon octicon-globe"></span>&nbsp;<a href="{{ student.website }}">{{ student.website }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<span class="octicon octicon-mail"></span>&nbsp;<a href="mailto:{{ student.email }}">{{ student.email }}</a></div>
                        <div class="s_description read_more">{% if student.description %}{{ student.description }}{% else %}This user hasn't added a description yet!{% endif %}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="query_terms">No results found for query '{{ query }}'</div>
            <div class="fourohfour"><img src="{{ url_for('static', filename='null_search.png') }}"></div>
        {% endif %}
    </div>
{% endblock %}
