{% extends "mobile_authenticated.html" %}
{% block title %}Settings{% endblock %}
{% block batwing %}
    {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <div class="mf">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="settings_new_edit">
        <div class="edit_form">
            <div class="edit_form_title">Update profile</div>
            <form method="POST">
                {{ profile_form.csrf_token }}

                {{ profile_form.name.label }}
                {{ profile_form.name(placeholder="Penelope Wiggums") }}<br>
                {% if profile_form.name.errors %}
                    {% for error in profile_form.name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ profile_form.website.label }}
                {{ profile_form.website(placeholder="http://zombo.com/") }}<br>
                {% if profile_form.website.errors %}
                    {% for error in profile_form.website.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ profile_form.description.label }}
                {{ profile_form.description() }}<br>
                {% if profile_form.description.errors %}
                    {% for error in profile_form.description.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ profile_form.submit() }}
            </form>
        </div>
            
        <div class="edit_form">
            <div class="edit_form_title">Change password</div>
            <form method="POST">
                {{ password_form.csrf_token }}

                {{ password_form.current_password.label }}
                {{ password_form.current_password() }}<br>
                {% if password_form.current_password.errors %}
                    {% for error in password_form.current_password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ password_form.new_password.label }}
                {{ password_form.new_password() }}<br>
                {% if password_form.new_password.errors %}
                    {% for error in password_form.new_password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ password_form.submit() }}
            </form>
        </div>

        <div class="edit_form" id="delete_form">
            <div class="edit_form_title">Delete account</div>
            <form method="POST">
                {{ delete_form.csrf_token }}

                {{ delete_form.password.label }}
                {{ delete_form.password() }}<br>
                {% if delete_form.password.errors %}
                    {% for error in delete_form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ delete_form.confirm.label }}
                {{ delete_form.confirm(placeholder="ebullient") }}<br>
                {% if delete_form.confirm.errors %}
                    {% for error in delete_form.confirm.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {{ delete_form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
