{% extends "authenticated.html" %}
{% block title %}{{ student.name }}{% endblock %}
{% block batwing %}
    {% if get_flashed_messages() %}
        <div class="flash">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    
    <div id="student">
        <div class="s_name">{{ student.name }}</div>

        {% if student == current_user %}
            <a href="{{ url_for('settings') }}"><div class="p_editor">Edit</div></a>
        {% endif %}
        <div class="s_time">Joined {{ student.time_joined.strftime('%B %-d, %Y at %-I:%M %p') }}</div>
        {% if student.website %}<div class="s_website"><a href="{{ student.website }}">{{ student.website }}</a></div>{% endif %}
        <div class="s_description">{% if student.description %}{{ student.description }}{% else %}This user hasn't added a description yet!{% endif %}</div>
        
        {% if incomplete_projects.count() > 0 %}
            <div class="p_students">
                <div class="dash_title">{{ incomplete_projects.count() }} active project{% if incomplete_projects.count() != 1 %}s{% endif %}</div>
                {% for project in incomplete_projects %}
                    <div class="response"><span class="octicon octicon-chevron-right"></span></div><div class="dash_li"><a href="{{ url_for('project', student_username=student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if complete_projects.count() > 0 %}
            <div class="p_students">
                <div class="dash_title">{{ complete_projects.count() }} complete project{% if complete_projects.count() != 1 %}s{% endif %}</div>
                {% for project in complete_projects %}
                    <div class="response"><span class="octicon octicon-chevron-right"></span></div><div class="dash_li"><a href="{{ url_for('project', student_username=student.username, project_hashid=project.hashid) }}">{{ project.name }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
